requests
SQLAlchemy
psycopg2-binary
bcrypt
JustWatch
git+https://github.com/glensc/python-pytrakt.git
websocket-client
fastapi
uvicorn[standard]
python-multipart
jinja2
itsdangerous
cryptography
python-dotenv
markupsafe
